.main_visual {
    display: flex;
    width: 100%;
    height: 90vh;
    background: url(../images/mainvisual.jpg) no-repeat center;
    background-size: cover;
    justify-content: center;
    flex-flow: column;
}

.main_visual h2 {
    font-family: "Noto Serif JP", serif;
    font-weight: 600;
    font-size: 58px;
    color: #fff;
    margin-left: 10%;
}
.main_visual p {
    font-family: "Noto Serif JP", serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin-left: 10%;
}
.main_visual_text {
    display: flex;
    width: 100%;
    height: 70%;
    flex-flow: column;
    justify-content: center;
}



.concept_title {
    text-align: center;
    padding: 128px 0;
}
.concept_title h2 {
    font-size: 40px;
}
.concept_title p {
    padding-top: 8px;
    font-size: 16px;
}
.concept_about {
    display: flex;
    padding: 0 20% 64px;
    gap: 32px;
}
.concept_wrap {
    background: rgb(243, 241, 225);
    background: linear-gradient(
        180deg,
        rgba(243, 241, 225, 1) 0%,
        rgba(243, 241, 225, 1) 30%,
        rgba(225, 248, 251, 1) 60%,
        rgba(225, 248, 251, 1) 100%
    );
}
.concept_about_text {
    flex-flow: column;
    width: 50%;
}
.concept_about_text h3 {
    font-size: 40px;
    margin: 0 0 8px;
}
.concept_about_text p {
    font-size: 20px;
    line-height: 1.75em;
}
.concept_about img {
    width: 50%;
    border-radius: 32px;
}

.text_replace {
    order: 1;
}
.image_replace {
    order: 0;
}

/* メニューボタン */
.menu_btn_wrap h3 {
    font-size: 32px;
    text-align: center;
    padding: 32px 0 16px;
}
.menu_btn {
    display: flex;
    justify-content: center;
    font-size: 40px;
}
.food_link {
    background: url(../images/food_link.jpg)
        no-repeat;
    background-size: cover;
    color: #3e3e3e;
    text-shadow: -1px -1px 4px #fff, -1px 0 4px #fff, -1px 1px 4px #fff,
        0 -1px 4px #fff, 0 1px 4px #fff, 1px -1px 4px #fff, 1px 0 4px #fff,
        1px 1px 4px #fff;
    display: flex;
    width: 500px;
    height: 320px;
    justify-content: center;
    align-items: center;
    border-radius: 32px 0 0 32px;
}

.drink_link {
    background: url(../images/drink_link.jpg) no-repeat;
    background-size: cover;
    color: #fff;
    text-shadow: -1px -1px 4px #3e3e3e, -1px 0 4px #3e3e3e, -1px 1px 4px #3e3e3e,
        0 -1px 4px #3e3e3e, 0 1px 4px #3e3e3e, 1px -1px 4px #3e3e3e,
        1px 0 4px #3e3e3e, 1px 1px 4px #3e3e3e;
    display: flex;
    width: 500px;
    height: 320px;
    justify-content: center;
    align-items: center;
    border-radius: 0 32px 32px 0;
}
.food_link:hover,
.drink_link:hover {
    opacity: 0.7;
}