* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #3e3e3e;
    font-family: "Noto Sans JP", "Helvetica Neue", Arial,
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

/* ナビゲーション */
nav {
    width: 100%;
    height: 10vh;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.logo {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
}
.logo a {
    margin-left: 32px;
}

.navmenu {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
.navReserve {
    display: flex;
    width: 128px;
    height: 60px;
    border-radius: 10px;
    background: #f46969;
    box-shadow: -4px -4px 8px 0px #fff, 4px 4px 8px 0px #c6c6c6,
        1px 1px 4px 2px rgba(255, 255, 255, 0.3) inset,
        -4px -4px 4px 0px rgba(0, 0, 0, 0.15) inset;
    color: #fff;
    font-family: Noto Sans JP;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-right: 32px;
}
.navReserve:hover {
    background: #f46969;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.15) inset,
        0px 0px 4px 2px rgba(0, 0, 0, 0.15) inset,
        2px 2px 4px 2px rgba(255, 255, 255, 0.3) inset;
}
/* コンタクト */
footer {
    background: #f5f5f5;
}
.contact-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 32px 16px;
}
.contact-title h2 {
    font-size: 32px;
    font-weight: bold;
}
.contact-title p {
    font-size: 14px;
}
.google_maps {
    width: 100%;
    height: 372px;
}
.contact-about {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: 16px 0 0;
}
.contact-about-contents {
    width: 25vw;
}
.contact-about-contents h3 {
    font-size: 24px;
}
.contact-about-contents p {
    font-size: 14px;
}
small {
    display: flex;
    width: 100%;
    font-size: 12px;
    text-align: center;
    justify-content: center;
    padding: 32px 0;
}

/* メインビジュアル */
.main-visual {
    display: flex;
    width: 100%;
    height: 90vh;
    background: url(../images/mainvisual.png) no-repeat;
    background-size: cover;
    justify-content: center;
    flex-flow: column;
}

.main-visual h2 {
    font-family: "Noto Serif JP", serif;
    font-weight: 600;
    font-size: 58px;
    color: #fff;
    margin-left: 10%;
}
.main-visual p {
    font-family: "Noto Serif JP", serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin-left: 10%;
}
.main-visual-text {
    display: flex;
    width: 100%;
    height: 70%;
    flex-flow: column;
    justify-content: center;
}

.bg-deco {
    display: flex;
    width: 100%;
    height: 30%;
    background: url(../images/bg-deco.svg) no-repeat bottom;
    align-items: flex-end;
}

.contents-wrap {
    background: rgb(243, 241, 225);
    background: linear-gradient(
    180deg,
        rgba(243, 241, 225, 1) 0%,
        rgba(243, 241, 225, 1) 35%,
        rgba(225, 248, 251, 1) 60%,
        rgba(225, 248, 251, 1) 100%
    );
}
.concept-title{
    text-align: center;
    padding: 128px;
}
.concept-title h2{
    font-size: 40px;
}
.concept-title p{
    padding-top: 8px;
    font-size: 16px;
}
.concept-about{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
}
.concept-about-text{
    flex-flow: column;
    width: 50%;
}
.concept-about-image{
    width: 50%;
}